[Unit]
Description=multics
After=network.target
Requires=network.target

[Service]
Type=forking
ExecStart=/usr/bin/multics-x64  -b -C /var/etc/multics/multics.cfg -v -f /var/etc/multics/multics.log  -n
Restart=always
RestartSec=5
StartLimitInterval=0

[Install]
WantedBy=multi-user.target

